
<div class="modal fade" id="addUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="addUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addUtilityCompanyModalLabel">添加电力公司</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="utilityID">电力公司ID</label>
                <input formControlName="utilityID" type="text" class="form-control">
                </div>
            <div class="form-group text-left">
              <label for="name">名字</label>
                <input formControlName="name" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="coinsValue">虚拟货币余额</label>
                <input formControlName="coinsValue" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="energyValue">储备电量总值</label>
                <input formControlName="energyValue" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="energyUnits">电量单位</label>

              <div>
              <select name="energyUnits" formControlName="energyUnits">
                <option value="kwh">kWh</option>
              </select>
              </div>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="addUtilityCompany(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="updateUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateUtilityCompanyModalLabel">更新资产</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="utilityID">电力公司ID</label>
                <input [ngModel]="utilityID"formControlName="utilityID" type="text" class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="name">名字</label>
                <input [ngModel]="name"formControlName="name" type="text" class="form-control">
            </div>
        </div>
        <div class="modal-footer">
          <button (click)="updateUtilityCompany(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteUtilityCompanyModal" tabindex="-1" role="dialog" aria-labelledby="deleteUtilityCompanyModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteUtilityCompanyModalLabel">删除资产</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteUtilityCompany()">
        <div class="modal-body">
          确定删除此资产吗?
        </div>
        <div class="modal-footer">
          <button (click)="deleteUtilityCompany()" type="submit" class="btn btn-danger" data-dismiss="modal">是</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <div class="row">
      <h1 class="heading">电力公司 </h1>
  </div><!-- /row -->

 <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUtilityCompanyModal">添加电力公司</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">

                <th class="bc">ID</th>

                <th class="bc">名字</th>

                <th class="bc">虚拟货币余额</th>

                <th class="bc">储备电量总值</th>

                <th class="bc">电量单位</th>

                <th class="bc">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utilityCompany of allUtilityCompanys">

                <td>{{utilityCompany.utilityID}}</td>

                <td>{{utilityCompany.name}}</td>

                <td>{{utilityCompany.coinsValue}}</td>

                <td>{{utilityCompany.energyValue}}</td>

                <td>{{utilityCompany.energyUnits}}</td>

            <td>

              <button (click)="getForm(utilityCompany.utilityID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateUtilityCompanyModal">更新</button>

              <button (click)="setId(utilityCompany.utilityID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUtilityCompanyModal">删除</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
