<nav class="navbar navbar-inverse navbar2">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand navfont" href="#">胜日光景新能源--去中心化能源交易</a>

    </div>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown navfontAbout">
            <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">技术信息
              <span class="caret navfont"></span></a>
            <ul class="dropdown-menu">

              <li><a [routerLink]="['/About']">关于</a></li>
              <li><a [routerLink]="['/AllTransactions']">区块链</a></li>
            </ul>
          </li>

      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">交易参与方
          <span class="caret navfont"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/Resident']">居民/个人</a></li>
          <li><a [routerLink]="['/Bank']">银行</a></li>
          <li><a [routerLink]="['/UtilityCompany']">电网公司</a></li>

        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">能源交易
          <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/TransactionRR']">居民 对 居民</a></li>
          <li><a [routerLink]="['/TransactionRU']">居民 对 电网公司</a></li>
          <li><a [routerLink]="['/TransactionRB']">居民 对 银行</a></li>

        </ul>
      </li>


      <li class="dropdown">
        <a class="dropdown-toggle navfont" data-toggle="dropdown" href="#">能源资产
          <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><a [routerLink]="['/Coins']">虚拟货币</a></li>

          <li><a [routerLink]="['/Energy']">电力能源</a></li>

          <li><a [routerLink]="['/Cash']">现金</a></li>

        </ul>
      </li>



    </ul>
  </div>
</nav>

<div class = "bodybackground">
  <router-outlet></router-outlet>
</div>


