

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>错误:</strong> {{errorMessage}}
	</div>

  <div class="row">
      <h1>居民 对 银行 </h1>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"> <strong>输入交易信息 ：</strong>
        </div>
        <div class="panel-body">
          <form [formGroup]="myForm">

            <p><strong>汇率: {{bankCoinsPerCash}}  Coins / USD </strong></p>

            <p>交易:
              <select name="actions" formControlName="action">
                <option value="getCash">Get Cash (USD) for Coins</option>
                <option value="getCoins">Get Coins for Cash (USD)</option>
              </select>
            </p>

            <p>居民:
              <select name="residents" formControlName="formResidentID">
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
            </p>

            <p>银行:
              <select name="banks" formControlName="formBankID" >
                <option *ngFor="let bank of allBanks" value="{{bank.bankID}}">{{bank.bankID}}</option>
              </select>
            </p>

            <p>现金 (USD):
              <input formControlName="value" type="number" step='any' class="form-control inlineInput">
            </p>

            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>交易执行完毕</strong></div>
        <div class="panel-body">
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
    <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >执行交易</button>

    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>


</div>
