

<div class="container">
  <div class="row">

				人们正在探索的一种关键的区块链应用是去中心化能源网络。这个想法源于一个街区，其中某些住户通过太阳能电池板或其他途径制造能源，而且能将过剩的能源销售给其他需要能源的住户。
				交易是基于每个住户账户中的虚拟货币进行的。根据预先确定的合约和价格，在一个特定的结算期内，从使用者那里取出资金，并将其存到生产者那里。
			  每次交易都必须是原子性的，并添加到一个区块链账本中，以建立信任和执行验证。
			  该网络可以包含银行，以便可以用虚拟货币向银行换取法定货币。还可以包含电力公司，电力公司可以通过该网络购买或提供能源。

				在本系统中，我们将使用Hyperledger创建这样一个区块链应用程序。
		    该网络由住户、银行和电力公司组成。住户可以彼此交换虚拟货币来获取能源。
		    该应用程序设想了一个预付费系统，在该系统中，交易发生在使用能源和更新价值之后。
				住户可以在该网络上与银行交换虚拟货币来获取法定货币。 住户还可以在该网络上通过虚拟货币向电力公司换取能源。

  </div>


</div>
