

<div class="container">

  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>

  <div class="row">
      <h2> 居民 对 居民 电力能源交易 </h2>
  </div>

  <div class="row">
    <br>
  </div>

  <div class="row RR">
    <div *ngIf="transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>输入交易信息：</strong></div>
        <div class="panel-body">
        <p>账单时间区间: 2:00 pm - 4:00 pm</p>
          <form [formGroup]="myForm">

            <p>电力生产者:
              <select name="residents" formControlName="producerResidentID" >
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
              </p>


              <p>电力消费者:
              <select name="residents" formControlName="consumerResidentID" >
                <option *ngFor="let resident of allResidents" value="{{resident.residentID}}">{{resident.residentID}}</option>
              </select>
              </p>


            <p>交易的电力能源 (kwh): <input formControlName="energyValue" type="number" step='any' class="form-control inlineInput">
              </p>

            <p>价格: <strong>{{residentCoinsPerEnergy}} Coins / kwh </strong>
            </p>
            <br>
            </form>
        </div>
      </div>
    </div>

    <div *ngIf="!transactionFrom" class="col-md-offset-3 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>交易已执行</strong></div>
        <div class="panel-body">
        <p>账单时间区间: 2:00 pm - 4:00 pm</p>
          <form [formGroup]="myForm">
            <p>Transaction ID: {{transactionID}}</p>
            <br>
            <!-- p>Producer: {{producerResidentID.value}}</p>
            <p>Energy Provided ID: {{energyProvidedID}}</p>
            <p>Coins Credited ID: {{coinsCreditID}}</p>
           <br>
            <p>Consumer: {{consumerResidentID.value}}</p>
            <p>Energy Received ID: {{energyReceivedID}}</p>
            <p>Coins Debited ID: {{coinsDebitID}}</p>
           <br>
            <p>Energy exchanged: {{energyValue.value}}</p>
            <p>Coins exchanged: {{coinsValue.value}}</p-->
          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div *ngIf="transactionFrom" class="col-md-offset-4 col-md-4">
      <button (click)="execute(form);" type="button" class="btn btn-success" data-toggle="modal" >执行交易</button>
    </div>
  </div>

  <div class="row">
    <br>
    <br>
  </div>


</div>
