
<div class="modal fade" id="addResidentModal" tabindex="-1" role="dialog" aria-labelledby="addResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addResidentModalLabel">添加居民</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="residentID">居民ID</label>
                <input formControlName="residentID" type="text" class="form-control">
                </div>
            <div class="form-group text-left">
              <label for="firstName">名字</label>
                <input formControlName="firstName" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="lastName">姓氏</label>
                <input formControlName="lastName" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="coinsValue">虚拟货币余额</label>
                <input formControlName="coinsValue" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="energyValue">输入生产的电量值 (或计量表自动读取)</label>
                <input formControlName="energyValue" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="energyUnits">电量单位</label>

              <div>
              <select name="energyUnits" formControlName="energyUnits">
                <option value="kwh">kWh</option>
              </select>
              </div>
            </div>

            <div class="form-group text-left">
              <label for="cashValue">现金值</label>
                <input formControlName="cashValue" type="text" class="form-control">
            </div>

            <div class="form-group text-left">
              <label for="cashCurrency">现金币种</label>

              <div>
              <select name="cashCurrency" formControlName="cashCurrency">
                <option value="USD">USD</option>
              </select>
              </div>
            </div>


        </div>
        <div class="modal-footer">
          <button (click)="addResident(myForm);" type="submit" class="btn btn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="updateResidentModal" tabindex="-1" role="dialog" aria-labelledby="updateResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="updateResidentModalLabel">更新资产</h4>
      </div>
      <form [formGroup]="myForm">
        <div class="modal-body">
            <div class="form-group text-left">
              <label for="residentID">ID</label>
                <input [ngModel]="residentID"formControlName="residentID" type="text" class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="firstName">名字</label>
                <input [ngModel]="firstName"formControlName="firstName" type="text" class="form-control">
            </div>
            <div class="form-group text-left">
              <label for="lastName">姓氏</label>
                  <textarea [ngModel]="lastName" formControlName="lastName" class="form-control" rows="3"></textarea>
            </div>

        </div>
        <div class="modal-footer">
          <button (click)="updateResident(myForm)" type="submit" class="btn btn-success" data-dismiss="modal">确定</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteResidentModal" tabindex="-1" role="dialog" aria-labelledby="deleteResidentModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteResidentModalLabel">删除资产</h4>
      </div>
      <form [formGroup]="myForm" (ngSubmit)="deleteResident()">
        <div class="modal-body">
          确定删除此资产吗?
        </div>
        <div class="modal-footer">
          <button (click)="deleteResident()" type="submit" class="btn btn-danger" data-dismiss="modal">是</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
        </div>
      </form>
    </div>
  </div>
</div>






<div class="container">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
		<strong>Error:</strong> {{errorMessage}}
	</div>
  <div class="row">

      <h1 class="heading">居民 </h1>
  </div>

 <div class="row">
    <div class="col-md-12 text-right">
      <button (click)="resetForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addResidentModal">添加居民</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-bordered table-responsive table-hover">
        <thead class="thead">
          <tr class="thead-cols">

                <th class="bc">ID</th>

                <th class="bc">姓氏</th>

                <th class="bc">名字</th>

                <th class="bc">虚拟货币余额</th>

                <th class="bc">生产电量值</th>

                <th class="bc">电量单位</th>

                <th class="bc">现金余额</th>

                <th class="bc">现金币种</th>

                <th class="bc">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resident of allResidents">

                <td>{{resident.residentID}}</td>

                <td>{{resident.firstName}}</td>

                <td>{{resident.lastName}}</td>

                <td>{{resident.coinsValue}}</td>

                <td>{{resident.energyValue}}</td>

                <td>{{resident.energyUnits}}</td>

                <td>{{resident.cashValue}}</td>

                <td>{{resident.cashCurrency}}</td>

            <td>

              <button (click)="getForm(resident.residentID);" type="button" class="btn btn-success" data-toggle="modal" data-target="#updateResidentModal">更新</button>

              <button (click)="setId(resident.residentID);" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteResidentModal">删除</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
